<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Tarea 2 Arquitecturas Micro Servicios.">
    <meta name="author" content="Perla Velasco & Yonathan Mtz">

    <title>Tarea 2</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/css/stylish-portfolio.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic"
          rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<!-- Header -->
<header id="top" class="header">
    <div class="text-vertical-center">
        <h1>Netflix Inc.</h1>
        <h3>Query Performed</h3>
        <br>
        <a href="#data_analysis" class="btn btn-dark btn-lg">View result</a>
    </div>
</header>

<!-- Page Content -->
<div class="container">

    <!-- Portfolio Item Heading -->
    <div id="data_analysis" class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{ result.omdb['Title'] }}
                <small>({{ result.omdb['Released'] }})</small>
            </h1>
        </div>
    </div>
    <!-- /.row -->

    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col-md-8">
            <img class="img-responsive" src="{{ result.omdb['Poster'] }}" alt="{{ result.omdb['Title'] }}">
        </div>

        <div class="col-md-4">
            <h3>Summary</h3>
            <p>{{ result.omdb['Plot'] }}.</p>
            <h3>Series Details</h3>
            <ul>
                <li><strong>Year:</strong> {{ result.omdb['Year'] }}.</li>
                <li><strong>Writer:</strong> {{ result.omdb['Writer'] }}.</li>
                <li><strong>Actors:</strong> {{ result.omdb['Actors'] }}.</li>
                <li><strong>Genre:</strong> {{ result.omdb['Genre'] }}.</li>
                <li><strong>Type:</strong> {{ result.omdb['Type'] }}.</li>
                <li><strong>Total seasons:</strong> {{ result.omdb['totalSeasons'] }}.</li>
                <li><strong>IMDB Rating:</strong> {{ result.omdb['imdbRating'] }}.</li>
                <!-- En este apartado se muestran los resultados del análisis de sentimientos -->
                <li><strong>Users Rating:</strong> 
                    <div class=>    
                        <strong>Positive Valoration:</strong>
                        <ul>
                            {{ result.cmnts_val['sentimientos']['pos'] }}%
                        </ul>
                        <strong>Negative Valoration:</strong>
                        <ul>
                            {{ result.cmnts_val['sentimientos']['neg'] }}%
                        </ul>
                        <strong>Neutral Valoration:</strong>
                        <ul>
                            {{ result.cmnts_val['sentimientos']['neutral'] }}%
                        </ul>
                    </div>
                </li>
            </ul>
        </div>

    </div>
    <!-- /.row -->
</div>
<!-- /.container -->

<!-- About -->
<section id="about" class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h4>{{ result.omdb['Awards'] }}</h4>
                <p class="lead">
                    <small><a target="_blank" href="{{ result.omdb['Poster'] }}">{{ result.omdb['Title'] }}</a>.</small>
                </p>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<!-- Result -->
<!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->


<!-- Services -->
<!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
<section id="services" class="services bg-primary">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-10 col-lg-offset-1">
                <h4>Services Used</h4>
                <hr class="small">
                <div class="row">
                    <div class="col-md-12 col-sm-3">
                        <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-ticket fa-stack-1x text-primary"></i>
                            </span>
                            <h4>
                                <strong>OMDb API</strong>
                            </h4>
                            <p>Provides the general details of the specific series.</p>
                            <a href="http://www.omdbapi.com/" class="btn btn-light">Go site!!!</a>
                        </div>
                    </div>
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<!-- Footer -->
<footer>
    <div class="container">
        <a href="/" class="btn btn-dark btn-lg">Perform again</a>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h4><strong>Software Architecture</strong>
                </h4>
                <p>Microservices Style
                    <br>Perla Velasco-Elizondo
                    <br>&amp;
                    <br>Yonathan A. Martínez Padilla</p>
                <br>
                <ul class="list-inline">
                    <li>
                        <a href="https://github.com/arqdesw-curso/Arquitectura-Micro-Servicios"><i
                                class="fa fa-github-alt fa-fw fa-3x"></i></a>
                    </li>
                </ul>
                <hr class="small">
                <p class="text-muted">Copyright &copy; University Autonomous of Zacatecas 2017</p>
            </div>
        </div>
    </div>
    <a id="to-top" href="#top" class="btn btn-dark btn-lg"><i class="fa fa-chevron-up fa-fw fa-1x"></i></a>
</footer>

<!-- jQuery -->
<script src="../static/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../static/js/bootstrap.min.js"></script>

<!-- Custom Theme JavaScript -->
<script>
    //#to-top button appears after scrolling
    var fixed = false;
    $(document).scroll(function () {
        if ($(this).scrollTop() > 250) {
            if (!fixed) {
                fixed = true;
                // $('#to-top').css({position:'fixed', display:'block'});
                $('#to-top').show("slow", function () {
                    $('#to-top').css({
                        position: 'fixed',
                        display: 'block'
                    });
                });
            }
        } else {
            if (fixed) {
                fixed = false;
                $('#to-top').hide("slow", function () {
                    $('#to-top').css({
                        display: 'none'
                    });
                });
            }
        }
    });
</script>
</body>
</html>